{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}

    <div style="text-align: center;">
    <h1 style="color: white">Dashboard</h1>
    {% if request.user.is_superuser == 1 %}
        <p style="color: white"> Welcome back Nutritiologist {{ request.user.first_name|default:request.user.username }} </p>
    {% elif request.user.is_staff == 1%}
        <p style="color: white"> Welcome back Assistant {{ request.user.first_name|default:request.user.username }}</p>
    {% endif %}
    </div>

    {% if patients_info %}
        <table style="color: white; background-color: #8B5BCC" align="center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Sex</th>
                    <th>Aerobics</th>
                    <th>Date of Birth</th>
                    <th>Height</th>
                    <th>Starting Weight</th>
                    <th>Most recent Weight</th>
                    <th>Public ID</th>
                </tr>
            </thead>
            {% for p in patients_info %}
                <tbody>
                    <tr>
                        <td>{{ p.name }}</td>
                        <td>{{ p.surname }}</td>
                        <td>{{ p.sex }}</td>
                        <td>{{ p.aerobics }}</td>
                        <td>{{ p.date_of_birth|default:"**" }}</td>
                        <td>{{ p.height|default:"**" }}</td>
                        <td>{{ p.starting_weight|default:"**" }}</td>
                        <td>{{ p.recent_weight|default:"**" }}</td>
                        <td>{{ p.public_id|default_if_none:"**" }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p>No patient info available.</p>
    {% endif %}
{% endblock %}


