{% extends "base.html" %}
{% block title %} Appointment {% endblock %}
{% block content %}

    <div style="text-align: center;">
        <h1 style="color: white">Edit patient info for {{ patient.name }} {{ patient.surname }}</h1>
    </div>

    <span style="font-size: 2rem" class="user">
        <a href="{% url 'dashboard' %}">Return to dashboard</a>
    </span>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <Container style="font-size: 2rem" class="user"><button type="submit">Save changes</button></Container>
    </form>
{% endblock %}


