<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
</head>
<body style="font-size: 30px">

    <div class="login-container">
      <div id="content">
        {% block content %}
    <h1>Get Patient</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Get Patient</button>
    </form>
        {% if patient %}
            <h1>Patient Details</h1>
            <p>Name: {{ patient.name }}</p>
            <p>Surname: {{ patient.surname }}</p>
            <p>Date of Birth: {{ patient.date_of_birth }}</p>
            <p>Sex: {{ patient.sex }}</p>
            <p>Height: {{ patient.height }}</p>
            <p>Starting Weight: {{ patient.starting_weight }}</p>
            <p>Aerobics: {{ patient.aerobics }}</p>
            <p>Recent Weight: {{ patient.recent_weight }}</p>
        {% endif %}

        {% if appointments %}
        <table style="color: white; background-color: #8B5BCC" align="center">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Weight</th>
                    <th>BMI</th>
                    <th>Observations</th>
                </tr>
            </thead>
            {% for a in appointments %}
                <tbody>
                    <tr>
                        <td>{{ a.date }}</td>
                        <td>{{ a.new_weight }}</td>
                        <td>{{ a.BMI }}</td>
                        <td>{{ a.observations }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
        {% else %}
            <p>No appointments for patient available.</p>
        {% endif %}
    {% endblock %}
        </div>

    </div>

</body>
</html>


