{% extends "base.html" %}
{% block title%} Login into the clinc app! {% endblock %}
{% block content %}
<h1>Login</h1>
{% if form.errors %}
{% else %}
<p>Please, fill out the form to login:</p>
{% endif %}
<div class="login-form">
    <form method="post" action="{% url 'login' %}">
        {{ form.as_p }}
        {% csrf_token %}
        <input style="font-size: 2rem" type="hidden" name="next" value="{{ next }}" />
        <ul class="login2">
            <p><input style="font-size: 2rem"; type="submit" value="Login"></p>
            <a class="btn btn-primary" href="/patient-info">Patient info</a>
        </ul>

    </form>
</div>
{% endblock %}


